h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 48px;
}

h2 {
 font-size: 16px;

}

ul {
font size: 12px;

}

a {
font-size: 10px;

}

footer {
font-size: 8px; font-weight: bold;

}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p{
font-size: 10px;
}
